.Titulo {
    text-align: center;
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff; 
}


input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e0e0e0; 
    transition: background-color 0.3s; 
}

input[type="email"]:invalid {
    background-color: #ffeeee; 
}

input[type="email"]:invalid + span {
    display: block;
    color: red;
    font-size: 12px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffff00;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

button[type="submit"]:hover {
    background-color: #ff0000;
}

.style-buttons {
    text-align: center;
    margin-top: 20px;
}

.style-button {
    margin: 5px auto; 
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffff00; 
    cursor: pointer;
    display: block; 
}

.style-button:hover {
    background-color: #ff0000; 
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
select:hover {
    background-color: #d0d0d0; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    background-color: #ffffff; 
    outline: 2px solid #007bff; 
}



